.home{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: white;
}

.navHome{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.logo{
    align-items: center;
    display: flex;
    justify-content: left;
    width: 400px;
    cursor: pointer;
}

.navCont{
    width: calc(100% - 800px);
    align-items: center;
    display: flex;
    justify-content: center;
}
.btnCont{
    width: 400px;
    align-items: center;
    display: flex;
    justify-content: right;
}

.logo span{
    font-size: 25px;
    font-weight: 800;
}

.spanLogo1{
    color: #5fa21b;
}

.navContBtn{
    background-color: transparent;
    width: 111px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.15s all ease-in-out;
}

.navContBtn:hover{
    color: #5fa21b;
}

.btnConexion{
    background-color: transparent;
    width: 111px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.15s all ease-in-out;
    margin-right: 1rem;
}

.btnConexion:hover{
    color: #5fa21b;
}

.btnCréerCpt{
    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.1), 
        0 10px 15px -3px rgba(0, 0, 0, 0.1); 
    background-color:#5fa21b;
    width: auto;
    color: white;
    height: 45px;
    padding: 0 1rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.15s all ease-in-out;
    margin-right: 1rem;
}

.btnCréerCpt:hover{
    background-color: #4c8315;
}


.contHome{
    width: 100%;
    height: auto !important;
    min-height: calc(100% - 140px) !important;
    display: flex;
    padding-bottom: 2rem;
    align-items: center;
    padding-top: 8vh !important;
    flex-direction: column;
}

.row1{
    height: 5rem;
    font-size: 5rem;
    font-weight: 800;
    z-index: 10;
    margin-bottom: 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&display=swap');
.row2{
    font-weight: 800;
    height: 5rem;
    font-family: "PT Serif", serif;
    margin-bottom: 4rem !important;
    color: #579519;
}
.row3{
    font-size:1.5rem;
}
.row4{
    font-size:1.5rem;
    margin-bottom: 4rem;
}
.row4 span{
    font-size:1.5rem;
    color: #5fa21b;
    font-weight: 500;
}

.row5{
    display: flex;
    align-items: center;
}

.devenirM, .reserverD{
    background: linear-gradient(to bottom right, #3d6911, #8ad430); 
    color: white;
    height: 50px;
    padding: 0 1.67rem;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 
        0 4px 6px -1px rgba(0, 0, 0, 0.1), 
        0 10px 15px -3px rgba(0, 0, 0, 0.1); 
    transition: 0.25s all ease-in-out;
}

.devenirM:hover{
    background: linear-gradient(to bottom right, #65ab1e, #8ad430); 
}
.reserverD{
    background : unset;
    background-color: white !important;
    color: #5fa21b;
    box-shadow: unset;
    font-weight: 600;
    border: 1px solid #579519;
}
.reserverD:hover{   
    color: #39670b;
}
.row5 span{
    color: rgb(145, 145, 145);
    margin: 0 2rem;
}

.footer{
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    color: #383838;
}
.footer a{
    color: #383838;
    font-size: 14px;
}
.footer a:active{
    color: #383838;
}
.footer a:hover{
    color: #39670b;
}



.contHome .row1 .jeffos{
    font-family: "PT Serif", serif !important;
    font-weight: 800;
    font-size: 5rem ;
}


.typewriter-cursor {
    display: none !important;
  }


  

.typewriter{
    height: 5rem;
    font-size: 5rem;
    font-weight: 800;
    font-family: "PT Serif", serif;
    margin-bottom: 4rem;
    color: #579519; 

}



.typewriter h1 {
    font-weight: 800;
    font-size: 5rem;
    font-family: "PT Serif", serif;
    color: #579519;
    overflow: hidden;  
    border-right: 2px solid rgb(255, 255, 255);  
    white-space: nowrap; 
    margin: 0 auto;  
    animation: 
      typing 0.777s steps(500, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }

  .contHome89{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding:  0 !important;
    padding-bottom: 5rem !important;  
}

.zrfhhrs{
    font-size: 6rem;
    font-weight: 700;

}

.ebsiurfushf{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.bsifhd button{
    width: 181px;
    height: 40px;
    background-color: #579519;
    color: white;
    cursor: pointer;
    transition: .15s all ease-in-out;
}

.bsifhd button:hover{
    background-color: #417112;
}








.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .calendar-day {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }
  
  .calendar-day:hover {
    background-color: #f0f0f0;
  }
  
  .selectedXXXX {
    background-color: #65ab1e !important;
    color: white !important;
  }
  
  .calendar-grid button:disabled {
    background-color: #ddd !important;
    cursor: not-allowed !important;
  }

  



  .contHome3976442968572{
    padding:  0 !important;
    padding-top: 8vh !important;
}


.booking-form{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.pornHub1{
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.777s all ease-in-out;
}


.pornhub{
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: 400px;    transition: 0.777s all ease-in-out;
    opacity: 1;
    min-height: 300px;
    height: auto;
    padding: 1rem;
    margin-left: 1.5rem;
    padding-top: 0;
}
.nopornhub{
    width: 0;
    visibility: hidden;
}

.nopornhub2{
    visibility: hidden;
    width: 500px !important;
}
.pornhub2{
    padding: 0 !important;
    margin: 0 !important;
    width: 500px !important;

}
.allInputs6{
    height: 300px;
    visibility: visible;
    width: 400px;
    padding-top: 1rem;
    margin-right: 1.5rem;
    transition: 0.777s all ease-in-out;
}

.form-group{
    height: 70px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-group input{
    height: 45px;
    width: 100%;
    margin-top: 7px;
    border-radius: 0.3rem;
    border: 1px solid rgb(193, 193, 193);
    outline: none;
    padding: 0 1rem;
}


.form-group
input:focus{
  border: 1px solid #579519;
  outline: 4px solid #e0ffc2;
}

.form-group label{
    font-weight: 500;
}

.zrshqfuoshdfuhqdfuohoqdf{
    background-color: gainsboro;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.shrufhsurhfuosehfohoqudf{
    cursor: not-allowed;
    background-color: rgb(243, 243, 243);
}

.shrufhsurhfuosehfohoqudf i{
    color: rgb(179, 179, 179);
}

.contHome3976442968572 h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.contHome3976442968572 h2 span{
    font-size: 2rem;
    font-weight: 700;
    color: #65ab1e;
}




.time-picker-container{
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: 400px;    transition: 0.777s all ease-in-out;
    opacity: 1;
    min-height: 300px;
    height: auto;
    max-height: 200px;
    overflow:  hidden !important;
    padding: 1rem;
    margin-left: 3rem;
    padding-top: 0;

}


.time-option.selected {
    background-color: #65ab1e; /* Green background */
    color: white;
    border: 2px solid #fff; /* White border */
  }
  

.calendar-header h3{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}



.time-option{
    width: 60px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0.2rem;
    border: 1px solid rgb(210, 210, 210);
}

.time-options{
    max-height: 200px;
    overflow: hidden !important;
}



.time-picker-container h3{
    font-size: 1.1rem;
    font-weight: 600; 
    padding-top: .5rem;  
    margin-bottom: 1.5rem;
}

.time-picker-container h3 span{
    font-size: 1.1rem;
    font-weight: 500; 
    color: #579519;
}

.zushufhsqdfohqudfohuqohfouhqf{
    height:85px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.zushufhsqdfohqudfohuqohfouhqf button{
    width: 100%;
    background-color:#65ab1e ;
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.zushufhsqdfohqudfohuqohfouhqf button:hover{
    background-color:#4b8512 ;
}

.zushufhsqdfohqudfohuqohfouhqf .unClickables{
    cursor: not-allowed;
    background-color: rgb(235, 235, 235);
}

.zushufhsqdfohqudfohuqohfouhqf .unClickables:hover{
    background-color: rgb(235, 235, 235);
}
.zushufhsqdfohqudfohuqohfouhqf .addColors{
    background-color:#65ab1e ;
}

.input-error{
    border: 2px solid rgb(221, 0, 0) !important;
}

.noallInputs6{
    width: 0 !important;
    visibility: hidden;
}


.rowItEm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.3rem;
}
.rowItEm span:first-child{
    font-weight: 600;

}

.NoShowIt{
    width: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important;
    opacity: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.pornhubZidenx {
    z-index: 999;
}