.profile{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    overflow-y: auto !important;

}
.ofs{
    width: 100%;
    max-width: 700px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    margin-top: 3vh;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
}
.posdvo4{
    font-size: 1.1rem;
    font-weight: 400;
}
.itemX{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}
.ofs2{
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.3rem;
    font-weight: 600;
}


.ofs22{
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ofs span{
    color: #579519;
    font-size: 2rem;
    font-weight: 700;
}
.ofs span:last-child{
    color: #212121 !important;
    font-size: 2rem;
    font-weight: 700;
}

.sfovwd{
    height:calc(100% - 80px);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2.7rem;
    display: flex;
    flex-direction: column;
}
.rowuzd{
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
}
.caseOno{
    height: auto;
    min-height: 200px;
    width: 200px;
}
.caseOno img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.caseDoso{
    width: calc(100% - 200px);
    height: auto;
    min-height: 200px;
    padding-left: 1.5rem;
}

.zufsiqdvc{
    font-weight: 800;
    font-size:3.2rem;
    width: 100%;
}

.zufsiqdvcmodif{
    width: 100%;
}
.zufsiqdvcmodif input{
    width: calc(100%);
    padding: 0.25rem 1rem;
    border: 1.8px solid rgb(208, 207, 207);
    outline: none;
    font-weight: 800;
    font-size:3rem;
}

.zufsiqdvcmodif input:focus{
    width: calc(100%);
    padding: 0.25rem 1rem;
    border: 1.8px solid #579519;
    outline: none;
    font-weight: 800;
    font-size:3rem;
}
.posdvo1{
    margin-top: .8rem;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;

    margin-bottom: .8rem;
}
.posdvo3{
    margin-top: .5rem;
    font-weight: 300;
    width: calc(377px - 25px);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posdvo3 span{
    font-weight: 300;
    font-size: 1.5rem;
}
.rowuzd2{
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.ofs button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    font-weight: 500;
}
.ofs button:hover{
    background-color: #e1e1e1;
}

.ofs button:active{
    background-color: #bebebe;
}

 
.disabled{
    background-color: #e1e1e1;
}




.popUp6666{
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.212);    z-index: 9999999;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    transition: 0.400 all ease-in-out;
}



.showpopUp{
    visibility: visible;
    opacity: 1;
}



.zufsiqdvcmodif2{
    width: 100%;
    margin-top: 0.3rem;
}
.zufsiqdvcmodif2 input{
    width: calc(100%);
    padding: 0.25rem 1rem;
    border: 1.8px solid rgb(208, 207, 207);
    outline: none;
    font-weight: 400;
    font-size : 20px;
}

.zufsiqdvcmodif2 input:focus{
    width: calc(100%);
    padding: 0.25rem 1rem;
    border: 1.8px solid #579519;
    outline: none;
}


.zufsiqdvcmodif3{
    width: 100%;
}
.zufsiqdvcmodif3 input{
    width: calc(100%);
    padding: 0.25rem 1rem;
    border: 1.8px solid rgb(208, 207, 207);
    outline: none;
    font-weight: 400;
    text-align: right;
}

.zufsiqdvcmodif3 input:focus{
    width: calc(100%);
    padding: 0.25rem 1rem;
    border: 1.8px solid #579519;
    outline: none;
}


.zsfiowdvzsfiowdv i{
    color: #579519;
}



.oefbbofoufzuofzs{
    position: relative !important;
}


.tooltip {
    visibility: hidden !important;
    width: 260px !important;
    background-color: #f6f6f6 !important;
    color: #5d5d5d !important;
    border: 1px solid #e8e8e8 !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;    position: absolute !important;
    top: -120% !important; /* Tooltip appears above the button */
    left: 50% !important;
    margin-left: -130px !important; /* Center the tooltip */
    opacity: 0 !important;
    transition: opacity 0.3s !important;
    z-index: 90 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
  }
  
  .oefbbofoufzuofzs:hover .tooltip {
    visibility: visible !important;
    opacity: 1 !important;
  }

  

  .profileiioioioj{
    height: 100vh;
    overflow: auto !important;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding-top: 100px;
    overflow-y: auto !important; 
  }

.usfhuvhushuf{
    width: 100%;
    color: gray;
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    margin-top:1.666rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
}

.usfhuvhushuf button{
    width: 250px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.usfhuvhushuf button:hover{
    background-color: rgb(230, 230, 230);
}

.usfhuvhushuf .info{
    width: calc(100% - 280px);
    color: rgb(163, 163, 163) !important;
}

.usfhuvhushuf2{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top:2.4rem;
    height: calc(100% - 170px);    
    overflow-y: auto;
    overflow-x: hidden;
}

.disabledX{
    cursor: not-allowed !important;
}

.itemomomo{
    height: auto;
    min-height: 40px;
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 98%;
    padding-top: .3rem;
    padding-bottom: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.itemomomo span:last-child{
    font-size: 15px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    color: rgb(162, 162, 162);
}
 
.itemomomo .fa-check{
    color: white;
}

.itemomomo .fa-xmark{
    color: white;
}
 

.siufhusdc{
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
}


.siufhusdc .eushfvofs{
    background-color: #579519;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px !important;
    height: 17px !important;
    margin-right: .5rem;
}
.siufhusdc div:last-child{
    width: calc(100% - 34px);
}

.siufhusdc .eushfvofs i{
    font-size: 13px;
    margin-top: 0.1rem;
    margin-right: 0.035rem;
}

.siufhusdc .eushfvofs2{
    background-color: rgb(214, 0, 0);
}

.uzsorfvshfvohsfuvhosfhv{
    position: relative;
    overflow-y: hidden !important;
    margin-top:2rem !important;
    height: calc(100% - 240px) !important;    
}

.ousuofozofvs793794{
    background-color: rgba(255, 255, 255, 0.829);
    z-index: 999;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

}

.uzsfuvuosfuosqfoud{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.euzuzrugfuozuofzuoouf{
    display: flex;
    align-items: center;
}

.zovuoizovzufvnuoznfvous{
    height: 400px;
    width: 100%;
    display: flex;
    color: rgb(69, 69, 69);
    align-items: center;
    justify-content: center;
}

.disabledX:hover{
    background-color: rgb(238, 238, 238) !important;
}