.Dashboard{
    height: 100vh;
    width: 100%;
}
.containerDash{
    position: fixed;
    height: calc(100vh - 100px);
    width: calc(100% - 17%);
    overflow: hidden;
    bottom: 0;
    right: 0;
    padding-right: 2rem;
    padding-left: 1rem;
}

.rowD1{
    height: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.caseD1{
    height: 50px;
    display: flex;
    align-items: center;
    min-width: 100px;
}
.caseD1 span{
    font-size: 22px;
    font-weight: 700;
}
.caseD1 span em{
    font-size: 20px;
    font-weight: 300;
    color: gray;
}
.caseD1 span:first-child{
    color: #5fa21b;
}
 
.caseD2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 100px;
}

.caseD2 button{
    background-color: white;
    color: white;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    width: auto;
    margin-left: 0.7rem;
    cursor: pointer;
    padding: 0 1rem;
    transition: .2s all ease-in-out;
}

.caseD2 button:last-child, .caseD2 .annulerd2{
    background-color: rgb(255, 255, 255) !important;
    color: #5fa21b !important ;
    width: 120px;
    border: 1px solid #5fa21b !important;
    padding: 0 1.2rem !important;
}

.caseD2 .eofvouszfv11{
    background-color: #5fa21b;
}
.caseD2 .eofvouszfv11:hover{
    background-color: #477a14;

}

.caseD2 .eofvouszfv112{
    background-color: #f3f3f3 !important;
}
.caseD2 .eofvouszfv112:hover{
    background-color: #f3f3f3 !important;
}

.caseD2 .eofvouszfv112, .caseD2 .annulerd2{
    background-color: #242424 !important;
    color: white !important ;
    width: auto !important;
    border: 1px solid #5fa21b !important;
    padding: 0 1.2rem !important;
}
.caseD2 button i{
    color: white;
    font-size: 14px;
}
.caseD2 .eofvouszfv00{
    background-color:white;
    color: #5fa21b;
    border: 1px solid #5fa21b;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;
    cursor: pointer;
    border-radius: 4rem;
    transition: .2s all ease-in-out; 
}

.caseD2 button:last-child i {
    color: #5fa21b;
    font-size: 14px;
}

.caseD2 .eofvouszfv00 i{
    color: #5fa21b;
    font-size: 17px !important;
}
.rowAddC{
    height: calc(100% - 50px);
    width: 100%;
    padding-bottom: 2rem;
}

.popUp{
    opacity: 0;
    visibility: hidden; 
    backdrop-filter: blur(4px) saturate(200%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(200%) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 90;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    transition: 0.15s all ease-in-out;
}

.popUp666{
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.815);
    z-index: 9999999;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    transition: 0.15s all ease-in-out;
}

.popUp6666{
    opacity: 0;
    visibility: hidden;
        
    z-index: 9999999;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    transition: 0.333 all ease-in-out;
}


.popUpX{
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.765);
    z-index: 100;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    transition: 0.15s all ease-in-out;
}



.showpopUp{
    visibility: visible;
    opacity: 1;
}


.contPopUp{
    
    background-color: #ffffff;
    height: 73vh;
    width: 90%;
    border-radius: 0.7rem;
    max-width: 600px;
    position: relative;
}

.popUp1{
    min-height: 600px;
    
    height: 64vh;
    max-height: 666px;
}


 
.caseD11{
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    min-width: 100px;
    justify-content: center;
}

 
.caseD11caseD11{
    height: 70px;
    display: flex;
    width: 100%;
    align-items: center;
    min-width: 100px;
    justify-content: center;
}
.caseD111{
    height: 80px;
}
.caseD11 span{
    font-size: 22px;
    font-weight: 700;
}
.caseD11 span:first-child{
}
.rowInp{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.111rem;
}



.rowInp1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.9rem;
}

.rowInp label{
    margin-bottom: 0.5rem;
}
.idplaque{
    border: 1px solid #ccc;
    height: 45px;
    border-radius: 0.4rem;
    padding: 0 1rem;
    outline: none;

}


.rowInpModified{
    position: absolute;
    bottom: 1rem;
    right: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
}

.rowInpModified2{
    margin: 0 auto;
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: row;
}

.osfovoufsouvs{
    width: 48% !important;
    bottom: 0rem !important;
}
.jofzvno{
    background-color: white;
    font-weight: 400;
    border: 1px solid gainsboro;
    height: 48px;
    width: 28%;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.efvofvz{
    background-color:#5fa21b;
    color: white;
    font-weight: 400;
    height: 48px;
    width: 70%;
    margin-left: 0.7rem;
    cursor: pointer;
    transition: .2s all ease-in-out;
}   
.efvofvz2{
    background-color:#477a14;
    color: white;
    font-weight: 400;
    height: 48px;
    width: 70%;
    margin-left: 0.7rem;
    cursor: not-allowed;
    transition: .2s all ease-in-out;
}

.efvofvz22{
    background-color:#a40000;
    color: white;
    font-weight: 500;
    cursor: pointer;
    height: 48px;
    width: 70%;
    margin-left: 0.7rem;
    transition: .2s all ease-in-out;
}

.efvofvz22:hover{
    background-color: #dc0000 ;
}
.ofnov{
    background-color: #f6f6f6;
}.ofnov:hover{
    background-color: #f3f3f3;
}






.custom-table {
    border: 1px solid #f0f0f0;
    border-radius: 0.4rem;
    overflow-x: auto;
    padding: 1rem;
    height: calc(100% - 120px);
    overflow-y: auto;
    overflow-x: auto;
}

.ejofvo{
    text-align: center;
    height: 40px !important;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.ejofvo1{
    width: 40px;
}
.ejofvo2{
    min-width: 50px;
}
.ejofvo3{
    min-width: 50px;
}
.ejofvo4{
    width: 150px;

}
.ejofvo5{
    width: 100px;

}
.ejofvo6{
    width: 100px;

}
.ejofvo7{
    width: 100px;
}
.ejofvo8{
    width: 100px;
}
.ejofvo9{
    width: 120px;
}
.ejofvo0{
    width: 150px;
}

.uoersf{
    height: 35px  ;
    width: 35px  ;
    border-radius: 50%  ;
    margin: 0 0.3rem;
    cursor: pointer;
    text-align: center;
    transition: .2s all ease-in-out;
}
.uoersf i{
    font-size: 13px;
}
.uoersf:nth-child(1){
    background-color: rgb(239, 239, 239);
}
.uoersf:nth-child(2){
    background-color: rgb(239, 239, 239);
}
.uoersf:nth-child(3){
    background-color: rgb(239, 239, 239);
}

.uoersf:nth-child(1):hover{
    background-color: rgb(209, 209, 209);
}
.uoersf:nth-child(2):hover{
    background-color: rgb(209, 209, 209);
}
.uoersf:nth-child(3):hover{
    background-color: rgb(209, 209, 209);
}


.uoersf .fa-eye {
    color: black
}

.uoersf .fa-pencil {
    color: black;
}

.uoersf .fa-trash {
    color: black;
    }





/* Overall scrollbar styling */
::-webkit-scrollbar {
    width: 12px !important;   /* Width for the vertical scrollbar */
    height: 11.25px !important; /* Height for the horizontal scrollbar */
  }
  
  /* Scrollbar track styling */
  ::-webkit-scrollbar-track {
    background: #f0f0f0 ; /* Background color for the scrollbar track */
    border-radius: 10px ;
  }
  
  /* Scrollbar thumb styling */
  ::-webkit-scrollbar-thumb {
    background-color: #b6b6b6 ; /* Color of the scrollbar thumb */
    border-radius: 10px ;    /* Rounded edges for the thumb */
    border: 2px solid #f0f0f0 ; /* Padding for a border effect */
  }
  
  /* Hover effect for the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #949494 ; /* Darker color on hover */
  }
  
  /* Specific height for horizontal scrollbar only */
  ::-webkit-scrollbar:horizontal {
    height: 10px ;
  }
  
  /* Specific width for vertical scrollbar only */
  ::-webkit-scrollbar:vertical {
    width: 8px ;
  }
  
  /* Firefox styling */
  .scrollable-element {
    scrollbar-width: thin ;               /* Makes scrollbar thinner */
    scrollbar-color: #888 #f0f0f0 ; /* Thumb color and track color */
  }

  

  .sticky-column {
    position: sticky !important;
    right: 0 !important;
    background-color: white !important; /* Optional: to ensure it's visually distinct */
    z-index: 1 !important; /* Ensure it appears on top of other cells if needed */
  }

.uefuvzou{
    background-color: transparent !important;
}


.rowInp1 label:last-child{
    max-width: 250px;
    text-align: right;
}

.rowInp122{
    height: 50px;
}


.rowInp122 .eionfv{
    height: 40px;
    width: 200px;
    z-index: 10;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    transition: 0.15s all ease-in-out;
    font-weight: 500;
}

.rowInp122 .eionfv:hover{
    background-color: rgb(228, 228, 228);
}

.rowInp label:first-child{
    font-weight: 600 !important;
}




.rowInp123 {
    height: auto;
    max-height: 162px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.rowSerre {
    height: 45px;
    border-radius: 0.4rem;
    width: 100%;
    background-color: #f4f4f4;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    flex-shrink: 0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rowSerre1 {
    height: 77px;
    border-radius: 0.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(187, 187, 187);
    background-color:white;
    margin-bottom: 0.8rem;
    flex-shrink: 0;
}

.popUp12 {
    
    background-color: #ffffff;
    width: 90%;
    border-radius: 0.7rem;
    max-width: 600px;
    height: auto;
    min-height: 400px;
    max-height: 76vh;
    overflow-y: auto;  
}



.contPopUpcontPopUp{
        
    background-color: #ffffff;
    height: 50vh;
    width: 90%;
    border-radius: 0.7rem;
    max-width: 600px;
    position: relative;
}


.casej1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}


.casej1 button  i {
    color: #477a14;
    font-size: 14px;
}

.casej1 button i {
    color: rgb(224, 2, 2);
    font-size: 14px;
}

.casej1 button{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #d4f4b7;

}
.casej1 button {
    margin-left: 1.3rem;
    background-color: rgb(255, 211, 211);
}


.po{
    z-index: 999;
}


.euosvuouof{
    outline: none !important;
    border: 1px solid #e3e3e3 !important;
    border-radius: 1rem !important;
}


.rowInp1rowInp1{
    margin-bottom: 1.3rem;
}

.popUp777{
    min-height: 560px !important;
    
    height: 560px !important;
    max-height: 560px !important;
}

.popUp77777{
    min-height: 555px !important;
    
    height: 555px !important;
    max-height: 555px !important;
}

.uosruofdvc{
    height: 45px;
    width: 100%;
    background-color: #efefef;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #d5d5d5;
}

.popUp1popUp1popUp1{
    min-height: 530px !important;
    height: 530px !important;
    max-height: 530px !important; 
}

.popUp1popUp1popUp12{
    min-height: 255px !important;
    height: 255px !important;
    max-height: 255px !important; 
}
.popUp1popUp1popUp12345{
    min-height: 300px !important;
    height: 300px !important; 
    max-height: 300px !important;

}
.uzuovsououzv{
    width: 90%;
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}

.uzuovsououzv2{
    width: 90%;
    margin: 0 auto;
    font-weight: 400 !important;
    margin-top: 2rem;
    font-size: 14px;
    text-align: center;
    color: #8a8a8a;
}

.zufshvwo{
    color: #5fa21b !important;
}

.svowdjc{
    color: #a40000 !important;
}


.efvofvz3795:hover{
    background-color: #67c10c !important;
}

.popUp2358{
    height: 90vh;
    max-height: 620px; 
}

.fa-triangle-exclamation{
    color: #a0a0a0;
    font-size: 16px;
}

.fa-triangle-exclamation2{
    color: #a40000;
    font-size: 24px;
}

.popUp172853{
    min-height: 700px !important;
    height: auto !important; 
    max-height: 1100px !important;   
    width: calc(100% - 7rem) !important;
    max-width: calc(100% - 7rem) !important;
    display: flex;
    max-width: 1100px !important;
    flex-direction: row;
    justify-content: space-around;
}

.uofsdvsfnov{
    width: 47%;
    display: flex;
    flex-direction: column;
}
.hrVertical{
    width: 1px;
    background-color: rgb(247, 247, 247);
    min-height: 590px !important;
    height: auto !important;
    max-height: 600px !important;  
}

.uozsoufvuosf{
    overflow-y: auto;
    max-height: calc(100% - 222px);
    height: auto;
    width: 96%;
    margin: 0 auto;
}

.otem{
    border-bottom: 1px solid #eee;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 0.8rem;
    margin-bottom: .8rem;
    width: 100%;
    overflow: hidden;
}

.caseuzhcsd8989{
    width: 100%;
    min-height: 70px;
}
.caseuzhcsd89{
    width: 17%;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.uosfvuouo{
    height: 30px;
    border-radius: 10rem;
    width: 30px;
    cursor: pointer;
    margin-bottom: 0.13rem;
    background-color: #ededed;
}
.zirvhnzvf{
    cursor: pointer;
    border-radius: 10rem;
    height: 30px;
    margin-top: 0.13rem;
    width: 30px;
    background-color: #ededed;
}
.zirvhnzvf i{
    font-size: 14px;
    color: #242424;
}

.uosfvuouo i{
    font-size: 14px;
    color: #242424;
}

.zirvhnzvf:hover{
    background-color: #e1e1e1;

}
.uosfvuouo:hover{
    background-color: #e1e1e1;
}
 

.caseuzhcsd8989{
    width: 100%;
    padding-right: 2rem;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.otemom{
    height: auto;
    margin-bottom: 0.3rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.otemom span{
    font-size: 15px;
}
.otemom span:first-child{
    font-weight: 500;
}

.rowInp1rowInp1111{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}




.caseD2 .fa-arrows-rotate{
    font-size: 20px !important;
}




.oefbbofoufzuofzs{
    position: relative !important;
}


.tooltipXX {
    visibility: hidden ;
    width: 120px ;
    height: 45px ;
    background-color: #f7f7f7 ;
    color: #999999  ;
    border: 1px solid #ffffff  ;
    text-align: center  ;
    border-radius: 5px  ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute  ;
    top: -5%  ; /* Tooltip appears above the button */
    right: 150%  ;
    opacity: 0  ;
    transition: opacity 0.3s  ;
    z-index: 90  ;
    font-weight: 500   ;
    font-size: 16px   ;
  }
  
  .oefbbofoufzuofzs:hover .tooltipXX {
    visibility: visible  ;
    opacity: 1  ;
  }
  


  .popUp6666Modifi7{
    min-height: 270px !important;
    height: 270px !important; 
    max-height: 270px !important;
  }



  .uozsoufvuosf22{
    padding-right: 0 !important;
  }

 
.containerDashCustomized1{
    overflow-y: auto;
}
.rowD2ab{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.rowD3ab{
    height: 440px;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}

.cardX{
    width: 32%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.08) 0px 7px 29px 0px;
    height: 100%;
    border: 1px solid rgba(100, 100, 111, 0.05);
    border-radius: 0.8rem;
}


.rowCardX{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 1.4rem;
    font-size: 1.1rem;
    font-weight: 600;
}


.rowCardX2{
    height: auto;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
}



.NOSD7IO9{
    height: 90%;
    width: 140px;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600 !important;
    font-family: "PT Serif", serif;
}

.NOSD7IO9NOSD7IO9{
    height: 90%;
    width: 140px;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600 !important;
    font-family: "PT Serif", serif;
}
.NOSD7I9999{
    height: 100%;
    width: calc(100% - 140px);
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;

}


.odosfvoufnosfovefsouv{
    text-align: center;
    width: 100%;
    height: 100%;
    color: gray;
    font-size: 13px !important;
    font-weight: 300 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.isbvdussofbvsuofbvousf{
    margin-left: 1rem;
    height: 34px;
    width: 34px;
    background-color: #ebffd7;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    transition: .16s all ease-in-out;
    align-items: center;
    justify-content: center;
}
.isbvdussofbvsuofbvousf i{
    color: #477a14 !important;
    font-size: 16px;
}

.isbvdussofbvsuofbvousf:hover{
    background-color: #daffb6;
}


.contPopUpcontPopUpcontPopUp888{
    min-height: 555px !important;
    height: 555px !important; 
    max-height: 555px !important;
}



.odosfvoufnosfovefsouv222{
    width: 100%;
    height: 100%;
    color: gray;
    font-size: 13px !important;
    font-weight: 300 !important;
    display: flex;
    align-items: left !important;
    justify-content: center;
    flex-direction: column;
}


.NOSD7I9999NOSD7I9999{
    height: 100%;
    width: calc(100% - 140px);
    padding-bottom: 0rem !important;
    padding-right: 1.5rem;
}

.row66322{
    padding-right: 2rem !important;
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem !important;
    justify-content: space-between;
}
.row6632 span:first-child{
    font-weight: 600;
}

.colorss{
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.surfvhuoshfovhsofuhvoush{
    height: calc(100% - 50px);
    padding-right: 2rem;
}

.iosfvijsv89435{
    display: flex;
    margin-right: 1.5rem;
    align-items: center;
}

.caro{
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 0.2rem;
    border:2px solid #ffae00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.meaningCARO1{
    color: #ffae00;

}
.caro2{
    cursor: pointer;
    width: 18px;
    border:2px solid #5fa21b;
    height: 18px;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}
.meaningCARO2{
    color: #5fa21b;

}
.caro3{
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
    border:2px solid #67c10c;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
}
.meaningCARO3{
    color: #67c10c;

}
.meaningCARO{
    font-size: 14px;
    font-weight: 500;
}

.case9887253{
    display: flex;
}

.caro i{
    color: #ffae00;

}
.caro2 i{
    color: #5fa21b;

}
.caro3 i{
    color: #67c10c;
}

 
.AKRAM{
    color: red !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

.meaningCARO6{
    color: #242424;
}

.iosfvijsv894352{
    margin-right: 1rem;
}

.svowdjccolors{
    color: #242424 !important;
}

.efvofvz22efvofvz22efvofvz2288{
    background-color: #5fa21b;
}
.efvofvz22efvofvz22efvofvz2288:hover{
    background-color: #477a14;
}

.zroshrvhsfv{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 45px;
}
.zroshrvhsfv input{
    height: 100%;
    width: 100%;
    border: 1px solid #b5b5b5;
    text-align: center;
    border-radius: 0.3rem;
    padding: 0 1rem;
}
.zroshrvhsfv input:focus{
    border: 1.8px solid #5fa21b;
}

.popUp6666Modifi7999{
    min-height: 300px !important;
    height: 300px !important; 
    max-height: 300px !important;
}
.popUp6666Modifi79990909{
    min-height: 450px !important;
    height: 450px !important; 
    max-height: 450px !important;
}
.case8243527 button{
    width: auto;
    padding: 0 1rem;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
}


.kakakakakak1{
    opacity: 0;
    visibility: hidden; 
    backdrop-filter: blur(4px) saturate(200%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(200%) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    transition: 0.15s all ease-in-out;   
    z-index: 9999999;
}
.kakakakakak1kakakakakak1kakakakakak1kakakakakak1kakakakakak1{
    background-color: #ffffff;
    height: 270px;
    overflow: hidden;
    position: relative;
    border-radius: 0.7rem;
    width: auto;
    padding: 1rem;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.kakakakakak1kakakakakak1kakakakakak1kakakakakak1kakakakakak1  img{
    object-fit: cover;
    height: auto;
    width: 100%;
}

.kakakakakak1kakakakakak1kakakakakak1kakakakakak1kakakakakak1 .srhfduihsuidfwhqhdwfuoqdwhfuo{
    position: absolute;
    top: 1rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    right: 1rem;
}


.zurçgçuzrfçhzrçfh{
    display: flex;
    align-items: center;
}

.oefbbofoufzuofzsoefbbofoufzuofzs2{
    width: 40px !important;
}

.esuorhuzhvuosrhsuovozshfov{
    border: 1px solid #5fa21b;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    color: #5fa21b;
    cursor: pointer;
    width: 38px;
}
.esuorhuzhvuosrhsuovozshfov i{
    color: #477a14;
}
 


    /* Style pour la ligne parent */
    .parent-row {

    }
  
  /* Style pour la ligne enfant */
  .child-row {
    background-color: #f4f4f4 !important;  /* Exemple de couleur pour la ligne enfant */
  }
  .child-row:hover{
        background-color: #f4f4f4 !important;  /* Exemple de couleur pour la ligne enfant */

  }
  .child-row:active{
        background-color: #f4f4f4 !important;  /* Exemple de couleur pour la ligne enfant */

  }
  .child-row:focus{
        background-color: #f4f4f4 !important;  /* Exemple de couleur pour la ligne enfant */

  }
  /* Style pour la colonne "Ferme" dans la ligne enfant */
  .child-row .MuiDataGrid-cell[data-field="name"] {
    font-weight: bold;
    color: #116500;  /* Exemple de couleur spécifique pour la colonne "Ferme" dans la ligne enfant */
  }
  

  .clickeici{
    color: #457d0e;
    margin-top: 1rem;
  }

  .fa-question-circle{
    color: #5fa21b;
  }

  .clickeici em{
    color: #457d0e;
  }

  .popUp1popUp1popUp122749632976491326491236{
    min-height: 366px !important;
    height: 366px !important; 
    max-height: 366px !important;
  }





.contPopUp2798326{    
    position: relative;
    background-color: #ffffff;
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
    max-height: 1100px;
    max-width: 600px;
    border-radius: 0.7rem;
    position: relative;
    padding: 0 2rem;
    padding-bottom: 1rem;
}


.sudiwfh{
    height: calc(100% - 70px);
    width: 100%;
}

.casAks{
    padding: 1rem 4rem;
    height: calc(100% - 200px);
    width: 100%;
}
.casAkDs{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zirsqfd{
    width: 100%;
    display: flex;
    padding:  0 3rem !important;
    flex-direction: column;
}
.rowInFoS{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}


.rowInFoS span:first-child{
    font-weight: 600;
}

.eyvfyrziyiyzfiyfz{
    color: #519a08 !important;
    font-weight: 600 !important;
    margin-top: 0.4rem;
}

.eyvfyrziyiyzfiyfz2{
    color: #519a08 !important;
    font-weight: 600 !important;
}


.casAks span{
    color: gray;
    font-size: 15px;
}

.casAks2{
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Container styling for the carousel */
.carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Styling for individual slides */
.carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for images in the carousel */
.carousel-image {
    width: 100% !important;
    margin: 0 auto !important;
    height: auto !important;
    object-fit :scale-down !important;
    border-radius: 8px;
}
 
/* Adjust padding and alignment for the parent containers */
.sudiwfh {
    height: calc(100% - 70px);
    width: 100%;
}

.casAks {
    padding: 0 !important;
    height: calc(100% - 200px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Optional: Style for the "No Data" message */
.casAks2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #999;
}



.fermeTaGeule{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #67c10c;
    transition: .1s all ease-in-out;
    cursor: pointer;
}
.fermeTaGeule:hover{
    background-color: #519a08;

}

.fermeTaGeule i{
    color: white;
    font-size: 1.2rem;
}

.zsuqhdfuhqfhqhfuhqofhoqv{
    width: 200px !important;
}

.rowOn9i{
    height: 50px;
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rowOn9i span{
    font-weight: 600;
    font-size: 18px;
}

.rowOn9i .jackichann{
    height: 100%;
    font-weight: 500;
    color: white;
    font-size: 16px;
    width: 80%;
    background-color: #2a8050;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: 0.15s all ease-in-out;

}


.rowOn9i .jackichannS {
    height: 100%;
    font-weight: 500;
    color: white;
    font-size: 16px;
    width: 80%;
    background-color: #e80000;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: 0.15s all ease-in-out;

}

.jackichann:hover{
    background-color: #165c36;

}
.jackichannS:hover{
    background-color: #be0000;

}

.rowOn9ii{
    height: 15px;
}
.rowOn9i button{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.rowOn9i button i{
    font-size: 1.67rem;
    color: white;
}

.caseD22222 .eofvouszfv112{
    background-color: #242424 !important;
    color: white !important;
}