
.NavBar{
    height: 100px;
    width: 100%;
    z-index: 11;
    position: fixed;
    background-color: blueviolet;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.options{
    align-items: center;
    display: flex;

}

.isfivs{
    height: 47px;
    width: 47px;
    border-radius: 1.6rem;
    object-fit: cover;
}

.eosvnowdc{
    width: 47px;
    background-color: transparent;
    height: 56px;   
    cursor: pointer;
    margin-right: 0.8rem;
}


.zjsdv{
  height: 47px;
  width: 47px;
  transition: 0.2s all ease-in-out;
  border-radius: 50%;
  cursor: pointer;
}
.zjsdv:hover{
  background-color: #e1e1e1;
}
.zjsdv:active{
  background-color: #bebebe;
}
.ziuvfzuo{
    height: 19px;
    width: 19px;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    border-radius: 50%;
    bottom: -4px;
    right: -5px;
    outline: 4px solid white;
}

.erovuson{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}



.SideBar{
    width: 17%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    padding-top: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
  }


.rowOI{
    min-height: 55px;
    border-radius: .3rem;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    padding-left: 1.2rem;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: 0s all ease-in-out;
}

.rowOI:hover{
    background-color: #f3f3f3;
}

.rowOI:active{
  background-color: #e6e6e6;
}
.rowOIactiavted{
    background-color: #5fa21b;
}

.rowOIactiavted:hover{
    background-color: #5fa21b;
}

.icons{
    height: 20px;
    width: 20px;
    margin-right: 0.8rem
}

.icons i{
  margin-right: 0.7rem;
  color: #579618;
}

.textActi{
    color: white;
}
.textActi i{
    color: white;
}

 
  
  








.profile-popup {
  position: absolute;
  top: 64px;
  right: 2rem;
  background-color: white;
  border: 1px solid #ececec;
  padding: 10px;
  min-width: 250px;
  border-radius: 8px;
  opacity: 0; /* Start hidden with opacity */
  transition: top 0.3s ease-in-out, opacity 0.1s ease;
  pointer-events: none; /* Prevent interaction when hidden */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.showprofile-popup {
  opacity: 1; /* Make it visible */
  top: 81px; /* Move down to 80px */
  pointer-events: auto; /* Allow interaction when visible */
}





.profile-header {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.profile-image {
  width:  50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.profile-email {
  font-size: 15px;
  color: #777;
}

.profile-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333;
  padding: 17px 0;
  cursor: pointer;
}

.profile-item:hover, .profile-header:hover {
  background-color: #f3f3f3;
  border-radius: 0.15rem;
}

.profile-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.uevuofz{
  height: 16px;
  width: 16px;
  margin-left: 0.7rem;
  margin-right: 1rem;
}



.zjsdv i {
  font-size: 1.28rem;
  color: #212121;
}

.ziuvfzuo i {
  font-size: 1rem;
  color: #212121;
}

 
.uevuofz i{
  color: #212121;
}






.switch-container {
  display: flex;
  position: relative;
  width: 700px;
  align-items: flex-start;
  justify-content: space-between;
}

.switch-label {
  font-size: 16px;
  margin-right: 10px;
  color: gray;
  width: calc(100% - 130px);
  font-weight: 300;
}

.switch {
  width: 60px;
  position: relative;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  border: none;
  overflow: hidden !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-on {
  overflow: hidden !important;
  background-color: #579519;
}

.switch-circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: margin 0.3s ease;
}

.circle-on {
  margin-left: 30px;

  box-shadow: rgba(0, 0, 0, 0.526) 0px 10px 20px 4px;}





.tooltip {
  visibility: hidden;
  width: 300px;    background-color: #f6f6f6;
  color: #5d5d5d !important;
  border: 1px solid #e8e8e8;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;    position: absolute;
  bottom: 120%; /* Tooltip appears above the button */
  left: 50%;
  margin-left: -150px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 999999;
  font-weight: 500 !important;
  font-size: 16px !important;
}


.oefbbofoufzuofzs666:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
