*{
  font-family: "Inter";
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #212121;
  box-sizing: border-box;
}

button{
  border: none;
  outline: none;
  border-radius: 0.4rem;
}


::selection{
  background-color: #579519;
  color : white !important;
}


input:focus{
  border: 1px solid #579519;
  outline: 4px solid #e0ffc2;
}